.anime-container {
    min-height: 139px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.img-container {
    max-width: 100%;
    max-height: 100%;
    img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-width: 90%;
        object-fit: contain;
    }
}

.tier-label {
    min-height: 139px;
}

.tier-row {
    display: flex;
}