<div class="tier-row">
    <div class="tier-label" 
        [ngClass]="{
            's-tier': tierletter === 'S', 
            'a-tier': tierletter === 'A',
            'b-tier': tierletter === 'B',
            'c-tier': tierletter === 'C',
            'd-tier': tierletter === 'D',
            'f-tier': tierletter === 'F'
        }">
        {{tierletter}}
    </div>
    <div class="anime-container">
        <ng-container *ngFor="let data of tier">
            <div class="img-container">
                <img src="{{data.img}}" (click)="showShowInformation(data)"/>
            </div>
        </ng-container>
    </div>
</div>