#tierlist {
    height: 775px;
    width: 775px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow: scroll;
}

#tier-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}